<script type="application/ld+json">
    {
      "@context": "https://schema.org",
      "@type": "LocalBusiness",
      "name": "Fimbes | Wawrzycki i syn",
      "logo": "{{ site.logo.desktop | relative_url }}",
      "description": "Sprzęgła, hamulce, szczotkotrzymacze, części zamienne do obrabiarek",
      "foundingDate": "1988",
      "image": "banner.jpg",
      "address": {
        "@type": "PostalAddress",
        "streetAddress": "Przemysłowa 9",
        "addressLocality": "Ostrzeszów",
        "addressRegion": "wielkopolskie",
        "postalCode": "63-500",
        "addressCountry": "PL"
      },
      "geo": {
        "@type": "GeoCoordinates",
        "latitude": 51.254669,
        "longitude": 17.5556366
      },
      "url": "https://fimbes.com.pl",
      "telephone": "+48667657511",
      "openingHoursSpecification":
        {
          "@type": "OpeningHoursSpecification",
          "dayOfWeek": [
			      "Poniedziałek", "Wtorek", "Środa", "Czwartek", "Piątek"
          ],
          "opens": "07:30",
          "closes": "15:30"
        },
      "sameAs": [
      	"https://pl.linkedin.com/in/fimbes-syn-68b3b7aa",
      	"https://github.com/fimbes"
      ],
      "founder":
        {
          "@type": "Person",
          "name": "Krzysztof Wawrzycki",
          "sameAs": "https://pl.linkedin.com/in/krzysztof-wawrzycki-51b746104"
        }
    }
</script>