.logo-mobile{
    display: inline-block;
    @include media-breakpoint-up(md){
        display: none;
    }
}
.logo-desktop{
    display: none;
    @include media-breakpoint-up(md){
        display: inline-block;
    }
}