<!DOCTYPE html>
{%- assign translations = site.data.translations -%}
<html lang="{{page.lang}}">
<head>
  <meta charset="utf-8">
  <title>{% if page.title %}Fimbes | {{page.title}}{% else %}{{ site.title | escape }}{% endif %}</title>
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <link rel="icon" type="image/png" href="{{ '/assets/favicon.png' | relative_url }}">
  <link href="{{ '/assets/css/style.css' | relative_url }}" rel="stylesheet">
  <meta name="description" {% if page.description %} content="{{ page.description }}" {% else %} content="{{ translations.siteDesc[page.lang] | escape }}" {%- endif -%} />
  <meta property="og:title" content="{{ site.title }}" />
  <meta property="og:type" content="{{ site.seo.meta_og_type }}" />
  <meta property="og:url" content="{{ site.seo.meta_og_url }}" />
  <meta property="og:image" content="{{ site.seo.meta_og_image }}" />
  <meta property="og:description" content="{{ translations.siteDesc[page.lang] }}" />
  <meta name="twitter:card" content="{{ site.seo.meta_twitter_card }}" />
  {%- if page.layout == "home" and page.lang == "pl" -%}
  {%- include schema.html -%}
  <script async src="https://www.googletagmanager.com/gtag/js?id=G-P428NX2ELW"></script>
  <script> window.dataLayer = window.dataLayer || []; function gtag(){dataLayer.push(arguments);} gtag('js', new Date()); gtag('config', 'G-P428NX2ELW');</script>
  {%- endif -%}
</head>
<body>
    {%- include header.html -%}
    <main class="wrapper py-5">
        {{content}}
    </main>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.6.0/dist/umd/popper.min.js" integrity="sha384-KsvD1yqQ1/1+IA7gi3P0tyJcT3vR+NdBTt13hSJ2lnve8agRGXTTyNaBYmCR/Nwi" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/js/bootstrap.min.js" integrity="sha384-nsg8ua9HAw1y0W1btsyWgBklPnCUAFLuTMS2G72MMONqmOymq585AcH49TLBQObG" crossorigin="anonymous"></script>
</body>
</html>
