---
title: Fimbes - Wawrzycki i syn
layout: default
---
{% assign translations = site.data.translations %}
<div class="container-fluid h-100">
    <div class="row align-items-center h-100">
        <div class="col-lg-7 col-xl-6 col-xxl-5 home-col">
            <div class="home-intro pb-5 ps-xxl-5">
                <h1 class="home-intro__header">{{ translations.homeHeader[page.lang] }}</h1>
                <div class="home-intro__content">
                    {{ content }}
                    <a href="mailto:fimbes@fimbes.com.pl" class="home-intro__btn align-self-end">{{ translations.orderNow[page.lang] }}</a>
                </div>
            </div>
        </div>
        <div class="col-lg-5 col-xl-6 xol-xxl-7 text-center h-100 d-flex flex-column justify-content-center">
            <img class="img-fluid" src="{{ "assets/homepage.svg" | relative_url }}" alt="">
        </div>
    </div>
</div>